.debug-vertical-rhythm {
    position: relative;

    &::after {
        background-color: transparent;
        background-image: linear-gradient(transparent calc(100% - 1px), rgba(#37f, 0.1) 0%),
                          linear-gradient(transparent calc(100% - 1px), rgba(#37f, 0.1) 0%);
        background-repeat: repeat, repeat;
        background-size: 100% vertical-base(),
                         100% vertical-base(0.5);
        content: "";
        min-height: 100%;
        left: 0;
        pointer-events: none;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: $z-debug;
    }
}

.debug-breakpoints {
    position: relative;

    &::after {
        background-color: #37f;
        bottom: 0;
        color: #fff;
        font-family: monospace;
        font-size: 0.75rem;
        line-height: vertical-base();
        padding: vertical-base(0.5) 1rem;
        position: fixed;
        right: 0;
        white-space: pre-wrap;
        z-index: $z-debug;

        @each $name, $width in $breakpoints {
            @include media(">=#{$width}") {
                content: "breakpoint: #{$name} (#{$width})";
            }
        }
    }
}
