// -----------------------------------------------------------------------------
// Generic styles.
// -----------------------------------------------------------------------------
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

p:not(:last-child),
ul:not(:last-child) {
    margin: 0 0 vertical-base(1);
}

a {
    color: currentColor;
    text-decoration: inherit;
}

:root {
    box-sizing: border-box;
    background-color: $color-alabaster;

    @supports (--foo: black) {
        --color-text: $color-mine-shaft;
        --color-highlight: $color-blue-ribbon;

        // 134 Glass Water
        --color-background: linear-gradient(45deg, #dfe9f3 0%, white 100%);

        background: var(--color-background);

        @at-root {
            #\/dark\/:target {
                --color-text: $color-alabaster;
                --color-highlight: $color-blue-ribbon;

                // 100 Vicious Stance
                --color-background: linear-gradient(60deg, #29323c 0%, #485563 100%);

                background-blend-mode: normal;
            }
        }
    }
}
