// -----------------------------------------------------------------------------
// Generic styles.
// -----------------------------------------------------------------------------
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

p:not(:last-child),
ul:not(:last-child) {
    margin: 0 0 vertical-base(1);
}

a {
    color: currentColor;
    text-decoration: inherit;
}

:root {

    // 040 Coup de Grace
    background-blend-mode: soft-light, screen;
    background-color: #dcd9d4;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%),
                      radial-gradient(at 50% 0%, rgba(255, 255, 255, 0.10) 0%, rgba(0, 0, 0, 0.50) 50%);

    box-sizing: border-box;

    @supports (--foo: black) {
        --color-text: $color-black;
        --color-background: $color-white;

        background-color: var(--color-background);

        @at-root {
            #\/dark\/:target {
                --color-text: $color-white;
                --color-background: $color-black;
            };
        }
    }
}
