// -----------------------------------------------------------------------------
// Generic styles.
// -----------------------------------------------------------------------------
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

p:not(:last-child),
ul:not(:last-child) {
    margin: 0 0 vertical-base(1);
}

a {
    color: currentColor;
    text-decoration: inherit;
}

:root {
    background-color: $color-alabaster;
    box-sizing: border-box;
    position: relative;

    @supports (--foo: black) {
        --color-text: $color-mine-shaft;
        --color-highlight: $color-blue-ribbon;
        --color-switch: $color-black;

        // 018 Cloudy Knoxville
        --color-background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);

        background: var(--color-background);

        @at-root {
            #\/dark\/:target {
                --color-text: $color-green;
                --color-highlight: $color-alabaster;
                --color-background: $color-black;
                --color-switch: $color-alabaster;
            }
        }
    }
}
