:root {
    font-family: $font-text-family;
    font-size: $font-text-size;
    text-rendering: $font-text-rendering;

    @include media(">=huge") {
        font-size: $font-text-size * 1.125;
    }
}

body {
    color: $color-black;
    line-height: vertical-base();

    @supports (--foo: black) {
        color: var(--color-text);
    }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    font-family: $font-headline-family;
    font-weight: normal;
    margin-bottom: 0;
    margin-top: 0;
}

h1, .h1 {
    font-size: 2.25rem;
    line-height: vertical-base(2.5);
}

h2, .h2 {
    font-size: 2rem;
    line-height: vertical-base(2);
}

h3, .h3 {
    font-size: 1.5rem;
    line-height: vertical-base(1.5);
}

h4, .h4 {
    font-size: 1.25rem;
    line-height: vertical-base(1.25);
}

h5, .h5 {
    font-size: 1.125rem;
    line-height: vertical-base(1);
}

b, strong {
    font-weight: 500;
}
