.link-primary {
    color: $color-blue-ribbon;
    text-decoration: none;
    white-space: nowrap;

    @supports (--foo: black) {
        color: var(--color-highlight);
    }

    @supports(text-decoration-skip: ink) {
        text-decoration-color: currentColor;
        text-decoration-line: underline;
        text-decoration-skip: ink;
        text-decoration-style: solid;
    }

    @at-root {
        #\/dark\/:not(:target) & {
            transition: opacity 333ms;

            &:hover {
                opacity: 0.6;
            }
        }
    }
}
