.theme-switcher {
    background: none;
    border-color: var(--color-switch) transparent  transparent var(--color-switch);
    border-style: solid;
    border-width: 0.75em;
    cursor: pointer;
    display: none;
    outline: 0;
    padding: 0;
    transform-origin: top left;
    transition: transform 167ms ease-in-out;

    &:hover {
        transform: scale(1.5);
    }

    @supports (--foo: black) {
        display: inline-block;
    }
}
