$breakpoints: (
    tiny: 320px,
    small: 768px,
    medium: 1024px,
    large: 1440px,
    huge: 1920px
);

// @see https://github.com/eduardoboucas/include-media/issues/14
$unit-intervals: ("px": 1, "em": 0.065, "rem": 0.0625);
