// -----------------------------------------------------------------------------
// Define your global mixins in here!
// -----------------------------------------------------------------------------
@mixin group($pseudo: "after") {
    &#{if($pseudo, "::#{$pseudo}", "")} {
        clear: both;
        content: "";
        display: table;
    }
}
