.project-card {
    padding: vertical-base(1.5);

    @at-root {
        #\/dark\/:not(:target) & {
            background: rgba($color-alabaster, 0.5);
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.125);
            transition: box-shadow 167ms ease-in-out;

            &:hover { box-shadow: 0 0 30px rgba(0, 0, 0, 0.25); }
        }
    }

    > .title {
        margin: 0 0 vertical-base(2) 0;
    }

    > .description {
        font-size: 0.875rem;
        line-height: vertical-base(0.875);
    }
}
