.project-card {
    padding: vertical-base(1.5);

    @at-root {
        #\/dark\/:not(:target) & {
            background: $color-alabaster;
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        }
    }

    > .title {
        margin: 0 0 vertical-base(2) 0;
    }

    > .description {
        font-size: 0.875rem;
        line-height: vertical-base(0.875);
        hyphens: auto;
    }
}
