.project-list {
    > .item:not(:first-child) {
        padding-top: vertical-base(1.5);
    }

    @include media(">=small") {
        @include group;

        margin: 0 -#{vertical-base(1)};

        > .item {
            float: left;
            padding: vertical-base(1);
            width: 50%;

            &:not(:first-child) {
                padding-top: vertical-base(1);
            }
        }
    }

    @supports (column-count: 2) {
        @include media(">=small") {
            column-count: 2;
            column-gap: 0;

            > .item {
                float: none;
                width: auto;

                -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
                          page-break-inside: avoid; /* Firefox */
                               break-inside: avoid; /* IE 10+ */
            }
        }

        @include media(">=large") {
            column-count: 3;
        }

        @include media(">=huge") {
            column-count: 4;
        }
    }
}
