.project-title {
    display: block;
    font-size: 1.125rem;
    font-weight: 500;
    outline: 0;

    > .logo {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: block;
        margin: 2em auto;
        width: 50%;

        &:not(img) {
            padding-top: 35%;
        }
    }

    > .text {
        display: block;
        text-align: center;
    }
}
