.page-container {
    margin: auto;
    max-width: map-get($breakpoints, "huge");
    padding: vertical-base(1);
    width: 100%;

    @include media(">=medium") {
        padding: vertical-base(2);
    }

    > .switch {
        position: fixed;
        top: 0;
        left: 0;
    }

    > .matrix {
        color: $color-green;
        height: 100%;
        left: 0;
        opacity: 0.25;
        pointer-events: none;
        position: absolute;
        top: 0;
        user-select: none;
        width: 100%;

        @at-root {
            #\/dark\/:not(:target) & {
                display: none;
            }
        }
    }

    > .headline,
    > .projects,
    > .footer {
        position: relative;
    }
}
