.page-container {
    margin: auto;
    max-width: map-get($breakpoints, "huge");
    padding: vertical-base(1);
    width: 100%;

    @include media(">=medium") {
        padding: vertical-base(2);
    }

    > .switch {
        position: absolute;
        top: 0;
        left: 0;
    }
}
