.page-footer {
    margin: vertical-base(3) auto;
    max-width: map-get($breakpoints, "small");
    position: relative;
    text-align: center;

    &::before {
        background-color: var(--color-text);
        content: "";
        display: block;
        height: 1px;
        margin-bottom: vertical-base(1);
        opacity: 0.125;
    }

    > .copyright {
        display: block;
        margin-top: vertical-base(3);
        opacity: 0.125;
    }
}
