*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
}

p:not(:last-child),
ul:not(:last-child) {
    margin: 0 0 1em;
}

:root {
    box-sizing: border-box;
    font-family: Fira Mono, monospace;
    font-size: 16px;
    line-height: 1.4;
    padding: 2em;
}

.link-embrace {
    color: currentColor;
    display: inline-block;
    text-decoration: inherit;
}

.link-primary {
    color: #36f;
    text-decoration: none;
    white-space: nowrap;
}

.page-container {
    margin: auto;
    max-width: 960px;
    width: 100%;
}

.page-headline {
    font-size: calc(1vw + 16px);
    margin: 3em auto;
    text-align: center;
}

.page-footer {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.125);
    margin: 3em 0;
    padding-top: 1em;
    text-align: center;
}

.page-footer > .copyright {
    display: block;
    margin-top: 3em;
    opacity: 0.125;
}

.page-footer > .copyright::first-letter {
    vertical-align: -1px;
}

.project-list > .item:not(:first-child) {
    padding-top: 1.5em;
}

@media (min-width: 768px) {
    .project-list {
        margin: 0 -0.75em;
    }

    .project-list::after {
        clear: both;
        content: "";
        display: table;
    }

    .project-list > .item {
        float: left;
        padding: 0.75em;
        width: 50%;
    }

    .project-list > .item:not(:first-child) {
        padding-top: 0.75em;
    }

    @supports (column-count: 2) {
        .project-list {
            column-count: 2;
            column-gap: 0;
        }

        .project-list > .item {
            float: none;
            width: auto;

            -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
                      page-break-inside: avoid; /* Firefox */
                           break-inside: avoid; /* IE 10+ */
        }
    }
}

.project-card {
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    padding: 1.5em;
    transition: border-color 333ms;
}

.project-card:hover {
    border-color: #36f;
}

.project-card > .title {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: inherit;
    display: block;
    margin: 0 0 1.25em 0;
    padding-bottom: 0.75em;
}

.project-card > .description {
    font-size: 0.875em;
}

.project-title {
    font-size: 1em;
    font-weight: 500;
}

.project-title > .logo,
.project-title > .emoji,
.project-title > .text {
    display: inline-block;
    vertical-align: middle;
}

.project-title > .emoji {
    font-size: 2em;
    line-height: 48px;
    text-align: center;
}

.project-title > .logo,
.project-title > .emoji {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 48px;
    margin-right: 8px;
    width: 48px;
}

.project-title > .text {
    width: calc(100% - 72px);
}
