/*!-----------------------------------------------------------------------------
   CodePen Stylesheet.

   Project:       CodePen
   Version:       1.0.0
   Contributors:  Gridonic <hello@gridonic.ch>
   URL:           https://codepen.io/gridonic/
   -------------------------------------------------------------------------- */

@import url("//fonts.googleapis.com/css?family=Fira+Mono:400,700|Slabo+27px");
@import url("//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/railscasts.min.css");

:root {
    font-family: sans-serif;
}

body {
    line-height: 1.5;
    max-width: 75ch;
    padding: 1.5em;
}

code {
    background-color: #07e;
    border-radius: 0.125em;
    color: white;
    font-family: "Fira Mono", monospace;
    font-size: 0.875em;
    padding-left: 0.25em;
    padding-right: 0.25em;
}

h1, h2, h3, h4 {
    font-family: "Slabo 27px", serif;
    margin-top: 0;
    text-rendering: optimizeLegibility;
}

h1 {
    border-bottom: 1px solid #eee;
}

h2 {
    margin-top: 2em;
}

a {
    color: #07e;
    display: inline-block;
    position: relative;
}

a[href*="//"]:not([href*="codepen.io"]) {
    padding-right: 1em;
    background-repeat: no-repeat;
    background-position: center right;
    background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2212%22%20height%3D%2212%22%3E%3Cpath%20fill%3D%22%23fff%22%20stroke%3D%22%2306c%22%20d%3D%22M1.5%204.518h5.982V10.5H1.5z%22%2F%3E%3Cpath%20d%3D%22M5.765%201H11v5.39L9.427%207.937l-1.31-1.31L5.393%209.35l-2.69-2.688%202.81-2.808L4.2%202.544z%22%20fill%3D%22%2306f%22%2F%3E%3Cpath%20d%3D%22M9.995%202.004l.022%204.885L8.2%205.07%205.32%207.95%204.09%206.723l2.882-2.88-1.85-1.852z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
}
